*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f7fa;
    color:#333;
    line-height:1.6;
}

/* Header */
header{
    background:#0d6efd;
    color:#fff;
    text-align:center;
    padding:20px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

nav{
    margin:15px 0;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd43b;
}

.tagline{
    font-size:18px;
    opacity:0.9;
}

/* Hero */
.hero{
    max-width:1000px;
    margin:30px auto;
    padding:60px 20px;
    text-align:center;
    border-radius:20px;

    background: linear-gradient(-45deg,
        #0d6efd,
        #4facfe,
        #00c6ff,
        #6a11cb);

    background-size:400% 400%;
    animation:gradientBG 10s ease infinite;

    color:white;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid #0d6efd;
    object-fit:cover;
    margin-bottom:20px;
}

.hero img:hover{
    transform:scale(1.05);
    transition:.3s;
}

.hero h2{
    font-size:36px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.hero-buttons button{
    background:#0d6efd;
    color:#fff;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

.hero-buttons button:hover{
    background:#084298;
}

/* Services */
.services-section{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

.services-title{
    text-align:center;
    font-size:42px;
    margin-bottom:40px;
}

.services{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.card{
    width:320px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#0d6efd;
    margin-bottom:15px;
    font-size:24px;
}

.card p{
    font-size:18px;
}

/* Footer */
footer{
    background:#222;
    color:#fff;
    text-align:center;
    padding:20px;
    margin-top:50px;
    width:100%;
}

/* Mobile */
@media (max-width:768px){

    header h1{
        font-size:32px;
    }

    nav a{
        display:inline-block;
        margin:8px;
    }

    .hero h2{
        font-size:28px;
        color:white;
}
    }

    .hero img{
        width:150px;
        height:150px;
    }

    .services-title{
        font-size:34px;
    }

    .card{
        width:100%;
    }
}
@keyframes gradientBG{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}
